<a href="https://colab.research.google.com/github/jawook/adventofcode2021/blob/main/dec05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
#Load data
fPath = "/content/drive/MyDrive/Advent of Code/2021/Dec 05/"
# f = open(fPath+"input.txt", "r")
f = open(fPath+"input.txt", "r")
inputs = f.read()
lines = inputs.splitlines()
import pandas as pd

In [37]:
#count total number of coordinates
numCoords = len(lines)
#split coordinates into start / end pairs
for l in range(0, len(lines)):
  lines[l] = lines[l].split(' -> ')
coords = pd.DataFrame(lines, columns={'start','end'})
#split coordinate pairs into individual numbers and cast to integers in new columns
coords[['startx', 'starty']] = coords['start'].str.split(',',expand=True)
coords[['endx', 'endy']] = coords['end'].str.split(',',expand=True)
coords['startx'] = pd.to_numeric(coords['startx'])
coords['starty'] = pd.to_numeric(coords['starty'])
coords['endx'] = pd.to_numeric(coords['endx'])
coords['endy'] = pd.to_numeric(coords['endy'])
coords['slope'] = (coords['endy'] - coords['starty']) / (coords['endx'] - coords['startx'])
coords

         end    start  startx  starty  endx  endy  slope
0    694,732  290,328     290     328   694   732    1.0
1    872,938  167,233     167     233   872   938    1.0
2    770,318  770,437     770     437   770   318   -inf
3    974,980    28,34      28      34   974   980    1.0
4     25,739  431,333     431     333    25   739   -1.0
..       ...      ...     ...     ...   ...   ...    ...
495   434,58   568,58     568      58   434    58   -0.0
496   195,75  195,806     195     806   195    75   -inf
497    39,78   233,78     233      78    39    78   -0.0
498  648,503  648,847     648     847   648   503   -inf
499  306,867  773,867     773     867   306   867   -0.0

[500 rows x 7 columns]

In [38]:
# Part A
import numpy as np
#create a grid for keeping a count of lines per cell on grid
counter = np.zeros((max(coords['endx']) + 2,max(coords['endy']) + 2), dtype=int)
for i in range(0, numCoords):
  startx = coords.at[i, 'startx']
  starty = coords.at[i, 'starty']
  endx = coords.at[i, 'endx']
  endy = coords.at[i, 'endy']
  if coords.at[i, 'slope'] == 0: #if its a horizontal line, then increment counters along the horizontal line
    #print(str(i) + " -- " + str(startx) + "," + str(starty) + ' -> ' + str(endx) + "," + str(endy))
    for x in range(min(startx, endx), max(startx, endx) + 1):
      #print('Print: ' + str(x) + ',' + str(starty))
      counter[starty, x] += 1
  elif np.isinf(coords.at[i, 'slope']): #if its a vertical line, then increment counters
    #print(str(i) + " -- " + str(startx) + "," + str(starty) + ' -> ' + str(endx) + "," + str(endy))
    for y in range(min(starty, endy), max(starty, endy) + 1):
      #print('Print: ' + str(startx) + ',' + str(y))
      counter[y, startx] += 1
#don't increment any counters for a non-vertical or horizontal line
totalMoreThan2 = (counter>=2).sum()

In [39]:
# Part B
counter = np.zeros((max(coords['endx']) + 2,max(coords['endy']) + 2), dtype=int)
for i in range(0, numCoords):
  livex = 0
  livey = 0
  startx = coords.at[i, 'startx']
  starty = coords.at[i, 'starty']
  endx = coords.at[i, 'endx']
  endy = coords.at[i, 'endy']
  if coords.at[i, 'slope'] == 0: #if its a horizontal line, then increment counters along the horizontal line
    #print(str(i) + " -- " + str(startx) + "," + str(starty) + ' -> ' + str(endx) + "," + str(endy))
    for x in range(min(startx, endx), max(startx, endx) + 1):
      #print('Print: ' + str(x) + ',' + str(starty))
      counter[starty, x] += 1
  elif np.isinf(coords.at[i, 'slope']): #if its a vertical line, then increment counters
    #print(str(i) + " -- " + str(startx) + "," + str(starty) + ' -> ' + str(endx) + "," + str(endy))
    for y in range(min(starty, endy), max(starty, endy) + 1):
      #print('Print: ' + str(startx) + ',' + str(y))
      counter[y, startx] += 1
  elif coords.at[i, 'slope'] == -1: #negative sloping (y decreasing as you move to higher x values)
    #print(str(i) + " -- " + str(startx) + "," + str(starty) + ' -> ' + str(endx) + "," + str(endy))
    for x in range(0, max(startx, endx) - min(startx, endx) + 1):
      livex = min(startx, endx) + x
      livey = max(starty, endy) - x
      #print('Print: ' + str(livex) + ',' + str(livey))
      counter[livey, livex] += 1
  elif coords.at[i, 'slope'] == 1: #positive sloping (y increasing as you move to higher x values)
    #print(str(i) + " -- " + str(startx) + "," + str(starty) + ' -> ' + str(endx) + "," + str(endy))
    for x in range(0, max(startx, endx) - min(startx, endx) + 1):
      livex = min(startx, endx) + x
      livey = min(starty, endy) + x
      #print('Print: ' + str(livex) + ',' + str(livey))
      counter[livey, livex] += 1
BtotalMoreThan2 = (counter>=2).sum()

In [40]:
print('Part A answer is ' + str(totalMoreThan2))
print('Part B answer is ' + str(BtotalMoreThan2))

Part A answer is 6548
Part B answer is 19663

In [34]:
coords

   end start  startx  starty  endx  endy  slope
0  0,9   5,9       5       9     0     9   -0.0
1  8,0   0,8       0       8     8     0   -1.0
2  9,4   3,4       3       4     9     4    0.0
3  2,2   2,1       2       1     2     2    inf
4  7,0   7,4       7       4     7     0   -inf
5  6,4   2,0       2       0     6     4    1.0
6  0,9   2,9       2       9     0     9   -0.0
7  3,4   1,4       1       4     3     4    0.0
8  0,0   8,8       8       8     0     0    1.0
9  5,5   8,2       8       2     5     5   -1.0

In [35]:
counter

array([[1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0],
       [0, 1, 1, 1, 0, 0, 0, 2, 0, 0, 0],
       [0, 0, 2, 0, 1, 0, 1, 1, 1, 0, 0],
       [0, 0, 0, 1, 0, 2, 0, 2, 0, 0, 0],
       [0, 1, 1, 2, 3, 1, 3, 2, 1, 1, 0],
       [0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [2, 2, 2, 1, 1, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])